@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  box-sizing: border-box;
  transition: all;
  color: rgb(39, 39, 39);
  background: #e0dedd9c;
}

input[type="date"] {
  background: rgb(135, 190, 130);
}

input,
textarea {
  background: #18181b;
}

.bg-nav {
  background: #131313;
  color: rgb(241, 241, 241);
}

.bg-home {
  background: rgb(21, 8, 24);
  color: rgb(230, 230, 230);
}

.bg-home input {
  color: rgb(51, 50, 50);
}

body:hover,
html:hover,
:root:hover {
  transition: all;
}
