@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  box-sizing: border-box;
  transition: all;
  color: rgb(39, 39, 39);
  background: #e0dedd9c;
}

input[type="date"] {
  background: rgb(243, 243, 243);
}

input,
textarea {
  background: #ffffff;
  border: 2px solid #c0f8c9;
  border-radius: 2px;
}

.bg-nav {
  background: #131313;
  color: rgb(241, 241, 241);
}

.bg-home {
  background: rgb(21, 8, 24);
  color: rgb(230, 230, 230);
}

.bg-home input {
  color: rgb(51, 50, 50);
}

body:hover,
html:hover,
:root:hover {
  transition: all;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
    background: none;
  }
  50% {
    transform: scale(1.4);
  }

  10% {
    background-color: rgba(255, 0, 0, 0.7);
  }
}

.heart {
  border-radius: 100%;
  animation: heartbeat 2.4s infinite;
}
