@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  background: #d4ab6b;
  color: black;
}

.ob {
  background: #d4ab6b;
}

.ot {
  color: #d4ab6b;
}
input {
  background: black;
  color: rgb(170, 170, 170);
}

.animation {
  transition: 0.4s ease-in-out;
}

.animation:hover {
  transition: 0.4s ease-in-out;
  background: rgb(20, 20, 20);
  color: white;
}

.sucess {
  animation: ping 0.9s ease-in-out infinite;
}

.edit {
  transition: 0.4s ease-in-out;
}

.edit:hover {
  transition: 0.4s ease-in-out;
  background: yellow;
  border-radius: 30%;
}

.transition {
  transition: 0.4s ease-in-out;
}

.transition:hover {
  transition: 0.4s ease-in-out;
}

.widthMeta {
  width: 10rem;
}

.imagem {
  height: 100;
}
@media (max-width: 450px) {
  .widthMeta {
    width: 8rem;
  }

  .imagem {
    height: 150;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

input,
textarea {
  touch-action: none;
}

@keyframes ping {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
